################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoolFeatureA/.vs/CoolFeatureA
/.vs
